.mainItems{
  height: 100%;
  overflow: auto;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

  .sectionTitle {
    margin: 20px 0;
  }

.itemsContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* Múltiples columnas en web */
    gap: 16px;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 5px;
    max-width: 1400px;
}

.itemContainer {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    height: 250px;
    max-width: 200px;
}

.itemImg{
    height: 100px;
    width: auto;
    image-rendering: pixelated;
}

.itemName{
    font-size: 1rem;
    margin-bottom: 5px;
}

.itemDescription{
    font-size: 0.8rem;
}

.toTopButton {
  position: fixed;
  bottom: 120px;
  right: 20px;
  background: #ffcc00;
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

.toTopButton:hover {
  background: #ff9900;
}


/* En mobile, cambiamos a lista */

@media (max-width: 700px) {
    .itemsContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Múltiples columnas en web */
    }
  }


@media (min-width: 349px) and (max-width: 500px) {
    .itemsContainer {
      /* display: flex;
      flex-direction: column;
      align-items: center;  */
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); /* Múltiples columnas en web */
    }
}

@media (max-width: 350px) {
  .itemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .itemContainer{
    height: 200px;
    width: 100%;
  }
}