/* Contenedor principal */
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh !important;
  background: var(--bg-gradient);
}

/* Tarjeta principal */
.pokemonCard {
  background: linear-gradient(145deg, #ffcc00, #e69e00);
  border: 5px solid #1d2b67;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  padding: 10px;
  text-align: center;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  max-height: 550px;
}

/* Botón de regreso */
.pokeballButton {
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  background: none;
  padding: 15px 20px;
  background: var(--bg-gradient);
  top: 20px;
  left: 20px;
}

.pokeballImg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

/* Estilos del título */
.pokemonTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 75%;
  height: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  padding: 5px;
  background-color: rgba(255,255,255,0.7);
}

/* Número del Pokémon */
.pokemonOrder {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  color: #1d2b67;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  line-height: 30px;
  height: 30px;
}

/* Imagen del Pokémon */
.imgContainer {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  height: 50%;
  width: 100%;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.8);
}

.pokemonInfoImg {
  height: 100%;
  width: 100%;
  image-rendering: pixelated;
}

/* Contenedor de estadísticas */
.statsContainer {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Múltiples columnas en web */
  gap: 6px;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 5px;
}
.statsText {
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  border-radius: 2px;
}
.statName {
  text-transform: capitalize;
  font-weight: bold;
  color: #1d2b67;
  margin-right: 5px;
}

.statName::after {
  content: ':';
}

.statValue {
  text-align: right;
  font-weight: bold;
  color: #ff0000;
}

