.pokemonItem {
    display: flex;
    border-bottom: 3px solid #e4e4e4;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .pokemonItem > :first-child {
    margin-right: 20px;
  }
  
  .pokemonItem > :last-child {
    margin: 0;
  }
  
  .pokemonItemIcon {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    image-rendering: pixelated;
  }
  
  .pokemonItemText {
    flex-grow: 2;
  }
  
  .pokemonItemText > :first-child {
    background: -webkit-linear-gradient( rgba(124, 166, 252, 1) 25%,  rgba(119, 235, 129, 1) 100%  );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    display: block;
    margin-bottom: 11px;
    font-weight: bold;
  }
  
  .pokemonItemText > :last-child {
    color: grey;
    font-weight: bolder;
    font-size: 0.8rem;
    display: block;
  }
  